/* reset indents */
@import "reset.css";

/* Import font styles */
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600);

html {
	box-sizing: border-box;
	scroll-behavior: smooth;  
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 170%;
	background-color: #e0dcdc;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	/* box-shadow: 0 0 10px 10px #000; */
}

p{
	padding-top: 10px;
}

/* Header start */
.header {
	padding: 20px;
	background: #000;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

/* Header end */

/* Main section start */
.main {
	background-color: #FFF;
	padding-top: 20px;
}

.image-item {
	margin-bottom: 20px;
}

.section {
	border-bottom: 1px solid rgb(223, 223, 223);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.contacts__link{
	text-decoration: none;
	color: darkgreen;
}

a:hover {
	color: rgb(184, 183, 183);
	transition: .3s;
}


.contacts-wrapper{
	display: flex;
	flex-wrap: wrap;
	gap: 10%;
}

h1 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 10px;
}

.section__subtitle{
	font-size: 24px;
	color: rgb(100, 100, 100);
	margin-bottom: 14px;
}

.section:last-child{
	margin-bottom: 0;
	border-bottom: none;
}

.section__header {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
}

pre{
	padding: 20px;
	background: rgb(223, 223, 223);
}

ul{
	color: black;
	padding-left: 20px;
}

.section-list{
	list-style-type: square;
}

/* Main section end */

/* Footer start */
.footer {
	display: flex;
	flex-wrap: wrap;
	background: #000;
	padding: 20px;
	justify-content: space-between;
	color: #fff;
	align-items: center;
}

.footer__link, .header__link {
	text-decoration: none;
	color: #FFF;
}

/* Footer end */